@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.topPage{
    background-color: rgb(46, 44, 44);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid rgb(231, 128, 60);
    height: 60px;
    padding: 10px;
}

.contHeader{
    background-color: white;
    font-size: 35px;
    font-weight: 800;
    text-align: left;
    line-height: 64px;
    max-height: 80vh;
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

#subTitulo{
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    font-family:Helvetica, sans-serif;
    color: rgba(80, 78, 78, 0.849);
    padding-top: 25px;
}



#autor{
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 1px;
}

#horaData{
    font-weight: 100;
    font-size: 10px;
    font-family:Helvetica, sans-serif;
    color: rgb(80, 78, 78);
    line-height: 4em;
    margin-top: -20px;
    margin-bottom: 40px;
}

.icon{
    height: 50px;
    padding: 5px;
}

hr{
    margin-top: 30px;
    margin-bottom: 25px;
}

.mainSection{
    color: rgb(80, 78, 78);
    max-width: 648px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.extra{
    width: 800px;
    margin: auto;
    text-align: justify;
    font-size: 25px;
    font-weight: 100;
    color: rgb(224, 138, 33);
}

strong{
    color: rgb(80, 78, 78);
    font-weight: 400;
}

.content2{
    margin-top: 60px;
}

.moedasIMG{
    width: 100%;
}

.figEconomic{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-top: 19px;
    color: rgba(80, 78, 78, 0.541);
    margin-bottom: -30px;
}

.geladeiraIMG{
    width: 100%;
}

.figEconomic{
    
}

footer{
    background-color: rgb(46, 44, 44);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-top: 4px solid rgb(231, 128, 60);
    height: 60px;
    margin-top: 40px;
}



